<%- include('../include/header'); -%>

<body>
    <header>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,64L48,80C96,96,192,128,288,144C384,160,480,160,576,160C672,160,768,160,864,138.7C960,117,1056,75,1152,90.7C1248,107,1344,181,1392,218.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg> -->
        <svg class="back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="1"
                d="M0,32L60,37.3C120,43,240,53,360,74.7C480,96,600,128,720,133.3C840,139,960,117,1080,133.3C1200,149,1320,203,1380,229.3L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
            </path>
        </svg>
        <div class="nav">
            <div class="logo">
                <li class="nav-logo"><a href="">LOGO</a></li>
            </div>
            <div class="nav-con">

                <% if (locals.user) { %>
                <li class="nav-items " style="color:white"><%= user %> </li>
                <% } %>
                <% if (locals.data) { %>
                <li class="nav-items"><a href="/logout">Logout</a></li>
                <% } %>
                <li class="nav-items"><a href="/dashboard">Dashboard</a></li>

                <div class="dropdown">
                    <button id="dropbtn">Product</button>
                    <div class="dropdown-content">
                        <a href="/sms">SMS client</a>
                        <a href="/bulksms">Bulk SMS sender</a>

                    </div>
                </div>
            </div>
    </header>
    <div class="container">

        <div class="sms">
            <form action="/sms" method="post">
                <p class="tl">Multi purpose sms client</p>
                <div class="fields">


                    <input type="text" name="from" id="from" placeholder="From">


                    <input type="tel" name="to" id="to" placeholder="To">
                    <textarea type="text" name="bodyMessage" id="smsBox" cols="3" placeholder="Message"></textarea>

                    <button type="submit">Send message</button>
                </div>
            </form>
            <% if (locals.errors) { %>
            <div class="error" id="error" style="width: 500px">

                <p class="delete" onclick="<%= del %>">x</p>
                <ul>
                    <% Object.values(errors).forEach(function(error){ %>
                    <li><%= error.msg %></li>
                    <% }); %>

                </ul>
            </div>
            <% } %>
            <% if ( locals.expressFlash.length > 0 ) { %>
            <p><strong>FLASH!</strong> <%= expressFlash %></p>
            <% } %>
        </div>
    </div>
    <%- include('../include/footer'); -%>
</body>
<!-- <script>
    const getoption = () => {
        let option = document.getElementById("getOption").value;
        console.log(option);
        let to = document.getElementById("to");
        let bulkto = document.getElementById("BulkTo");
        if (option == "sms") {
            to.style.display = "block";
            bulkto.style.display = "none";
        } else {
            to.style.display = "none";
            bulkto.style.display = "block";
        }
    }
</script> -->

<!-- <select id="getOption" onchange="getoption()">
        <option value="sms">single sms</option>
        <option value="bulk">Bulk sms</option>
    </select>


    <div id="BulkTo" style="display:none;">
        <input type="file" name="file" id="">
    </div> -->

</html>